%h1 
  Courses:
  //se realiza conteo de los cursos de la tabla curso
  = @courses.count
  
  //se grafica cada curso en un diseño card
.card-columns
  - @courses.each do |course|
    //se recorre curso por curso y se renderiza segun el _course.html.haml
    = render 'courses/course', course: course
%br
