//se agrega link de index del path de cursos
= link_to 'Courses', courses_path
\/
//se agrega link de index del path de cursos
= link_to @course.title, courses_path(@course)
%P
//se renderiza el arhivo couse.halm se envia por parametro la informacion del curso
= render 'courses/course', course: @course


