%hr
%footer
  .container
    .row
      .col-md-4
        Copyright
        © 
        = Time.now.year
        David Esteban Cardenas Garcia
        .row
        .fa.fa-envelope
        = mail_to 'david_evil_64@hotmail.com'
        .row
      .col-md-4
        Privacy policy
        .row
        Terms and conditions
      .col-md-4
        About us
        .row
        = link_to 'Enseña en nuestra plataforma', new_course_path